.home__data {
    display: block;
    position: relative;
}


.home__data::before {
    content: "";
    position: absolute;
    background-image: url("svg/dots-bgc.svg");
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    left: -50px;
    width: 80px;
    height: 80px;
    opacity: 0.2;
}

.home__data::after {
    content: "";
    display: table;
    clear: both;
}

.home__title {
    font-family: var(--eng-font), sans-serif;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    padding-left: 5.4rem;
    margin-bottom: var(--mb-2);
    height: 25px;
    display: flex; 
    align-items: center;
}

.home__subtitle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 500px;
    margin-bottom: var(--mb-3);
}

.home__button > div {
    margin-left: var(--mb-0-5);
}

.home__button svg {
    margin-top: 0.2rem; 
    width: 24px;
    height: 24px;
}

.home__button svg path {
    fill: var(--container-color);
}

@media screen and (max-width: 992px) {
    .home__title {
        font-size: 8.75rem;
    }
    .home__subtitle {
        padding-left: 3rem;
        margin-bottom: var(--mb-1);
    }
    .home__subtitle::before {
        width: 40px;
        top: 0.8rem;
    }
    .home__description {
        margin-left: 3.75rem;
        margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width: 768px) {
    .home__title {
        margin-bottom: var(--mb-1);
    }
    .home__description {
        margin-left: 0;
    }
    .home__subtitle::before {
        display: none;
    }
    .home__button {
        float: none;
    }
}

@media screen and (max-width: 677px) {
    .home__title {
        font-size: 5.5rem;
        text-align: center; 
        display: block;
    }
    .home__description {
        max-width: 450px;
        text-align: center;
        margin: 0 auto var(--mb-3);
    }
    .home__subtitle {
        font-size: 1.2rem;
        justify-content: center;
        padding-left: 0;
    }
    .text-rotate {
        height: auto;
    }
    .home__button {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin: 0 auto;
        display: flex;
        max-width: 200px;
        justify-content: center;
    }
}

@media screen and (max-width: 440px) {
    .home__title {
        font-size: 4.5rem;
        margin-bottom: var(--mb-3);
    }
    .home__data {
        position: static;
    }
    .home__button {
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .button:hover {
        transform: translate(-50%, 3px);
    }
}

@media screen and (max-width: 350px) {
    .home__data::before {
        top: 140px;
        left: 10px;
    }
    .home__title {
        font-size: 3.5rem;
        text-align: center;
        margin: 0 auto 2rem;
        display: block;
    }
    .home__subtitle {
        font-size: 1.1rem;
    }
    .home__description { 
        font-size: var(--small-font-size);
    }
}