.about__container {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
    position: relative;
}

.about__img {
    width: 350px;
    margin: 0 auto auto;
    border-radius: 24px;
    object-fit: cover;
}

.about__info {
    grid-template-columns: repeat(3, 170px);
    gap: 8px;
    margin-bottom: 1.25rem;
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    padding: 16px 20px;
    position: relative;
    overflow: hidden;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__box:before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 0;
    left: 30%;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all 0.8s ease;
    filter: blur(8px);
}

.about__box:hover .about__subtitle {
    font-size: 17.6px;
    font-family: var(--font-semi-bold);
    font-weight: 600;  
    transform: translateY(-12px);
}

.about__box:hover > :is(.about__title, .about__icon)  {
    transform: translateY(-45px);
}

.about__box:hover::before {
    width: 50px;
    height: 50px;
    top: 30%;
    left: 70%;
    filter: blur(0rem);
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
    transition: all 0.2s ease;
}

.about__title {
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    transition: all 0.2s ease;
}

.about__subtitle {
    font-size: var(--tiny-font-size);
    transition: all 0.2s ease;
}
/* ===================== */
/* .about__description {
    padding: 0 0.4rem 0 0;
    margin-bottom: var(--mb-0-5);
    line-height: 1.3rem;
} */
.about__content {
    border-radius: 12px;
    overflow: hidden;
    font-style: normal;
    margin-bottom: var(--mb-2);
    background-color: var(--container-color);
}

.about__content-table {
    padding: 0 6.4px 0 0;
    border-collapse: collapse;
    width: 100%;
    border-radius: 12px;
    padding: 16px 20px;
}

.about__content-row:nth-child(even){
    background-color: var(--body-color);
}
  
.about__content-column {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 20px;
    text-align: left;
}
.about__content-column:first-child {
    font-family: var(--font-semi-bold);
    font-weight: 600;  
}
/* ================ */
.about__data a span{
    transition: transform 0.2s ease-out;
}

.about__data .button__icon {
    position: absolute;
    opacity: 0;
    transform: translateX(-32px);
    transition: all 0.2s ease-out;
}   

.about__data a::after {
    display: none;
}

.about__data a:hover span {
    transform: translateX(11.2px);
}

.about__data a:hover .button__icon {
    transform: translateX(-12.8px);
    opacity: 1;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 992px) {
    .about__content {
        max-width: 640px;
        margin-inline: auto;
    }
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
    .about__data .button__icon {
        display: none;
    }
    .about__data a:hover span {
        transform: none;
    }
    .about__box {
        padding: 12px 8px;
    }
    .about__data {
        text-align: center;
    }
    .about__info {
        justify-content: center;
    }
    .about__description {
        padding: 0 4rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) { 
    .about__container {
        row-gap: 16px;
    }
    .about__img {
        width: 260px;
    }
    .about__button {
        margin: 16px auto 0;
        float: none;
    }
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }
    .about__description {
        padding: 0 32px;
        text-align: justify;
    }
}

@media screen and (max-width: 450px) {
    .about__content-row {
        font-size: 12px;
        padding-inline: 16px;
    }
    .about__img {
        width: 220px;
    }
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
    .about__description {
        padding: 0 8px;
    }
    .button:hover {
        transform: none;
    } 
}