@font-face {
    font-family: "Inter-bold";
    src:url('/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat-regular";
    src: url("/fonts/Montserrat-Regular.woff2")
        format("woff2");
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat-semiBold";
    src: url("/fonts/Montserrat-SemiBold.woff2")
        format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat-medium";
    src: url("/fonts/Montserrat-Medium.woff2")
        format("woff2");
    font-weight: 500;
    font-display: swap;
}
:root {
    --header-height: 3rem;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --title-color: #1c4163;
    --title-color-dark: #001a30;
    --text-color: #194a7a;
    --body-color: #d1dbe4;
    --container-color: #bac9d7;
    --body-font: "Montserrat-regular", sans-serif;
    --font-medium: "Montserrat-medium", sans-serif;
    --font-semi-bold: "Montserrat-semiBold", sans-serif;
    --eng-font: "Inter-bold", sans-serif;
    --font-normal: 400;
    --big-font-size: 9.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*=============== Responsive typography ===============*/
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-family: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.button {
    float: right;
    margin-right: 2rem;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1rem 2rem;
    position: relative;
    border-radius: 3rem;
    font-family: var(--font-medium);
    transition: all 0.1s ease-in-out;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: var(--title-color);  
}

.button:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.react-icon {
    width: 24px;
    height: 24px;
}

.react-icon svg {
    fill: var(--title-color);
}
/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 992px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    .button {
        padding: 1rem 1.75rem;
    }
    .button__icon {
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0 0 var(--header-height) 0;
    }

    .section {
        padding-block: 64px;
    }

    .section__subtitle {
        margin-bottom: var(--mb-3);
    }
}

/* 576 px */

@media screen and (max-width: 350px) {
    :root {
        --big-font-size: 2.25rem;
    }

    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}
